.whole{
    display: flex;
    height:100%;
    width:100%; 
    justify-content: center;
    gap:2.5%;  
    padding-top: 15px; 
    background-color: #0E1525;
}
.side2{
   width:22%;
   height:52vh;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   background-color: #1F2A3C;
   border-radius:12px;
}
.side21{
  width:95%;
  height: 13%;
  max-height: 50px;
  padding: 4% 3% 3% 2%;
  font-size: 160%;
  text-align: left;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid black;
}
.side22{
    width:100%;
    height: 76%;
    /* border: 1px solid blue; */
    overflow: hidden;
}
.side23{
    height:4%;
    /* border: 1px solid violet; */
    display: flex;
    justify-content: center;
}
.side23 button{
    cursor: pointer;
    background: none;
    border: none;
    color: blue;
}
.side1{
   width: 38%;
   height:100vh;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   gap:20px;
   overflow: scroll;
   scrollbar-width: none; 
}
.side11{
    width:100%;
    height:150px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background-color: #1F2A3C;
    border-radius: 12px;

}
.thought{
    height: 40%;
    /* border: 1px solid yellow; */
    display: flex;
    padding: 2% 2% 1% 2%;
    gap: 5%;
}
.thought-pro{
    width:10%;
    /* border: 1px solid pink; */
}
.thought-cont{
    width: 80%;
    /* border: 1px solid pink; */
    text-align: left;
    line-height: 50px;
    font-size: large;
    background-color: #213450;
    border-radius: 12px;
    border:none;
    padding-left: 2%;
    color: #fff;
}
.contents{
    padding: 1% 2% 1% 4%;
    display: flex;
    gap:1.5%;
    height:40%;
}
.contents1{
    width:18%;
    height: 60%;
    margin-top:2%;
    display: flex;
    gap:3%;
    /* border: 1px solid black; */
}
.share-btn{
    width:20%;
    height: 70%;
    margin-top:1.3%;
    border-radius: 30px;
    border: none;
    background-color: #3B82F6;
    color: #fff;
    font-size: 105%;
}
.side12{
    width: 100%;
    height: 500px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    flex-grow: 1; 
    gap:14px;
}

@media screen and (max-width: 768px) {
    .whole {
        flex-direction: column;
        align-items: center;
    }
    .side1{
        width: 90%;
        height: auto;
    }
    .side2{
        display: none;
    }
    .side11{
       height: 100px
    }
    .side12 {
        height: auto;
    }
    .thought{
        align-items: center;
    }
    .thought-cont{
        height: 70%;
        font-size: medium;
    }
    .pvfl {
        display: none;
    }
    .share-btn{
        font-size: 70%;
    }
    .contents{
        gap:0;
        justify-content: end;
        width:80%;
        margin-left: 10%;
    }
}